.navbar{
  background-color: teal;
}
.nav-item{
  padding-right: 20px;
  border-right: 1px solid red;
}
.jumbotron{
  background-image: url(myim.jpg);
  color: #ffff1a;
}
.display-4{
  color:black;
}
.card{
  background-color: #c61aff;
}
.btn-rounded{
  background-color: blue;}
  
